.post-meta {
    font-size: 0.8rem;
    margin: 5px 0 15px;
}

.post-meta > span {
    margin: 0 10px 0 0;
}

.post-meta > span i {
    margin: 0 2.5px 0 0;
}

.post-meta > span a {
    color: #212529;
}

.post-loop-default .post-loop-item {
    border-bottom: 1px solid #212529;
}

.post-loop-default .post-loop-item:last-child {
    border-bottom: none;
}
